@import './variables';

.feed-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $feed-header-color;
    border-radius: 25px;
    margin-bottom: 30px;

    .feed-header {
        display: flex;
        justify-content: center;
        margin: 5px;
        width: 100%;
        h2 {
            margin: 10px 0;
        }
    }
    
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $feed-container-color;
        width: 100%;
        border-radius: 0 0 25px 25px;
        
    
        .feed {
            display: flex;
            background-color: $feed-color;
            margin: 10px;
            width: 98%;
            min-height: 60px;
            border-radius: 25px;

            .img {
                display: flex;
                align-items: center;
                width: 100px;
                height: 60px;
                margin: 5px 5px 5px 10px;
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 85%;
                p {
                    margin: 5px;
                }
            }
        }
    }
}
