@font-face {
    font-family: 'Vinson';
    src: url('../fonts/VInson-Regular.ttf') format('ttf'),
         url('../fonts/VInson-Regular.otf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Vinson';
    src: url('../fonts/Vinson-Bold.ttf') format('ttf'),
         url('../fonts/Vinson-Bold.otf') format('ttf');
    font-weight: 600;
    font-style: bold;
}
@font-face {
    font-family: 'Vinson';
    src: url('../fonts/Vinson-Light.ttf') format('ttf'),
         url('../fonts/Vinson-Light.otf') format('ttf');
    font-weight: 200;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'Vinson';
}